#services-section {
  background: url("./../../assets/feature-map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 30px 40px;
  overflow: hidden;
}
