#services-section {
  background: url("./../../assets/feature-map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  padding: 30px 40px;
}
