#about-section {
  padding: 30px 40px;
  /* background: url("../../assets/choose-bg.png");
  background-size: cover;
  background-position: right right;
  background-repeat: no-repeat;
  height: 70vh;
  width: 200px; */
}
